@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  @apply text-gray-950;
}

.container {
  @apply mx-auto px-2 max-w-[1440px];
}

@keyframes bump {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
